# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Database (local only, will be recreated on server)
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
